<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--Automaton script language module for BBEdit-->
<!--Pascal Pignard; http://blady.pagesperso-orange.fr-->
<!--Copyright 2022; distribution per CeCILL; no warranty-->
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Automaton Script</string>
	<key>BBLMLanguageCode</key>
	<string>Auto</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.auto</string>
		</dict>
	</array>
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	<key>BBLMScansFunctions</key> <true/>
	<key>BBLMColorsSyntax</key> <true/>
	<key>BBLMKeywordList</key>
	<array>
        <string>action</string>
        <string>automate</string>
        <string>call</string>
        <string>default</string>
        <string>end</string>
        <string>error</string>
        <string>event</string>
        <string>from</string>
        <string>gosub</string>
        <string>init</string>
        <string>out</string>
        <string>same</string>
        <string>to</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
	</array>
	<key>BBLMCommentLineDefault</key>
	<string>--  </string>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_</string>
		<key>Open Line Comments</key>
		<string>--</string>
		<key>Open Strings 1</key>
		<string>`</string>
		<key>Close Strings 1</key>
		<string>`</string>
		<key>End-of-line Ends Strings 1</key> <true/>
	</dict>
</dict>
</plist>
